<div class="container">
  <div class="span3 side-bar headerfix">
    <h3>Confused People</h3>
    <form class="search">
      <input ng-model="query" placeholder="Search">
    </form>
  </div>
  
  
  <div class="offset3 span9 content">
      <div class="absolute-frame">
        <ul class="unstyled cards">
          <li ng-repeat="user in users | filter:query | orderBy:orderProp">
            <h3><a href="#/users/{{user.id}}">{{user.username}}</a></h3>
            <dl class="dl-horizontal">
              <dt>e: </dt>
              <dd>{{user.email}}</dd>
              <dt>n: </dt>
              <dd>{{user.firstName}} {{user.lastName}}</dd>
            </dl>
          </li>
        </ul>
        <div class="clearfix"></div>
    </div>
  </div>
</div>
