<div class="container">
  <div class="row headerfix">
    <div class="span12">

      <form name="userForm" class="form-horizontal">
        <h3>{{user.model.username}}'s profile</h3>
        <fieldset>
          <div class="control-group">
            <input name="username" type="text" value="" placeholder="username" ng-model="user.model.username" required>
            <span class="error" ng-show="userForm.username.$error.required">required!</span>
          </div>
          <div class="control-group">
            <input name="email" type="email" value="" placeholder="email" ng-model="user.model.email" required>
            <span class="error" ng-show="userForm.email.$error.required">required!</span>
          </div>
          <div class="control-group">
            <input name="firstName" type="text" value="first name" placeholder="first name" ng-model="user.model.firstName">
          </div>
          <div class="control-group">
            <input name="lastName" type="text" value="last name" placeholder="last name" ng-model="user.model.lastName">
          </div>
          <div class="control-group">
            <input class="btn btn-primary" type="submit" ng-click="user.update(id)" value="Edit">
            <button class="btn btn-danger" ng-click="user.del(id)">Delete</button>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>
