/* app css stylesheet */

/* color swatch
 *
 * accents:
 *  greenish-blue - rgb(40, 146, 167);
 *  light orange - rgb(221, 155, 36);
 * primaries:
 *  dark gray - rgb(66, 65, 63);
 *   darken up the text: dark gray - rgb(46, 45, 43);
 *   lightened text: almost white - rgb(230, 230, 230);
 *  light gray - rgb(220, 220, 220);
 */
 
body {
  background: none repeat scroll 0% 0% rgb(66, 65, 63);
  color: rgb(230, 230, 230);
}

a,
a:hover {
  color: rgb(40, 146, 167);
}

.side-bar {
  position: fixed;
}

.navbar .brand {
  color: rgb(221, 155, 36);
  opacity: 1.0;
}

.content {
  /* resetting position, so set z-index as well. */
  position: absolute;
  z-index:-1;
  top: 0px;
  bottom: 0px;
  color: rgb(46, 45, 43);
  padding-top: 45px;
  max-height: 100%;
  height: 100%;
  background: none repeat scroll 0% 0% rgb(220, 220, 220);
}

.absolute-frame {
  color: rgb(46, 45, 43);
  background: none repeat scroll 0% 0% rgb(220, 220, 220);
}
.dl-horizontal dd {
  margin-left: 30px;
}

.dl-horizontal dt {
  width: 20px;
}

.cards {
   padding: 0px 20px;
}

.cards h3 {
   color: rgb(66, 65, 63);
}

.cards li {
  border-bottom: 1px solid rgb(40, 146, 167);
  drop-shadow: 1px 1px 1px;
  padding: 10px 0px;
}

/* HELPER CLASSES */

.transluscent {
  opacity: 0.9;
  filter: alpha(opacity=40);
}

.headerfix {
    padding-top: 45px; 
}